bobo-spring/src/main/resources/META-INF/bobo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.dudu.com/schema/bobo"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.dudu.com/schema/bobo">

	<xsd:element name="reference">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:string" />
			<xsd:attribute name="interface" type="xsd:string" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="service">
		<xsd:complexType>
			<xsd:attribute name="interface" type="xsd:string" />
			<xsd:attribute name="ref" type="xsd:string" />
		</xsd:complexType>
	</xsd:element>

</xsd:schema>  